In [3]:
import pandas as pd

In [5]:
movies_df=pd.read_csv('movies.csv')

In [6]:
movies_df.head(10)

,Title,Year,Director,Actors,Rating,Runtime,censor,Total_Gross,Unnamed: 8,Genre
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,UA,Gross Unkown,NaN,"Adventure, Drama"
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,NaN,"Crime, Drama"
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,NaN,"Adventure, Drama"
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,NaN,"Adventure, Sci-Fi"
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,NaN,"Adventure, Drama"
5,The Lord of the Rings: The Fellowship of the Ring,2001,Peter Jackson,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean...",8.8,178,U,$315.54M,NaN,"Adventure, Drama"
6,The Matrix,1999,"Directors:Lana Wachowski, Lilly Wachowski","Keanu Reeves, Laurence Fishburne, Carrie-Anne ...",8.7,136,A,$171.48M,NaN,Sci-Fi
7,The Empire Strikes Back,1980,Irvin Kershner,"Mark Hamill, Harrison Ford, Carrie Fisher, Bil...",8.7,124,UA,$290.48M,NaN,"Adventure, Fantasy"
8,Terminator 2: Judgment Day,1991,James Cameron,"Arnold Schwarzenegger, Linda Hamilton, Edward ...",8.6,137,A,$204.84M,NaN,Sci-Fi
9,Star Wars,1977,George Lucas,"Mark Hamill, Harrison Ford, Carrie Fisher, Ale...",8.6,121,U,$322.74M,NaN,"Adventure, Fantasy"

In [10]:
df_cleaned = movies_df.drop(columns=['Unnamed: 8'])

In [11]:
movies_df.head(10)

,Title,Year,Director,Actors,Rating,Runtime,censor,Total_Gross,Unnamed: 8,Genre
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,UA,Gross Unkown,NaN,"Adventure, Drama"
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,NaN,"Crime, Drama"
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,NaN,"Adventure, Drama"
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,NaN,"Adventure, Sci-Fi"
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,NaN,"Adventure, Drama"
5,The Lord of the Rings: The Fellowship of the Ring,2001,Peter Jackson,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean...",8.8,178,U,$315.54M,NaN,"Adventure, Drama"
6,The Matrix,1999,"Directors:Lana Wachowski, Lilly Wachowski","Keanu Reeves, Laurence Fishburne, Carrie-Anne ...",8.7,136,A,$171.48M,NaN,Sci-Fi
7,The Empire Strikes Back,1980,Irvin Kershner,"Mark Hamill, Harrison Ford, Carrie Fisher, Bil...",8.7,124,UA,$290.48M,NaN,"Adventure, Fantasy"
8,Terminator 2: Judgment Day,1991,James Cameron,"Arnold Schwarzenegger, Linda Hamilton, Edward ...",8.6,137,A,$204.84M,NaN,Sci-Fi
9,Star Wars,1977,George Lucas,"Mark Hamill, Harrison Ford, Carrie Fisher, Ale...",8.6,121,U,$322.74M,NaN,"Adventure, Fantasy"